body{
    background-color: #F9E6E6;
    /* color: white; */
    /* background-size: cover; */
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-size: xx-large;
}
input{
    height: 40px;
    width: 40%;
    margin-top: 20px;
}
button{
    margin-top: 1%;
    height: 40px;
    background-color: black;
    color: white;
}

img{
    border-radius: 50%;
    width: 20%;
    height: 10%;
    margin-left: 40px;
   
}
#form-body{
    background-color: rgb(29, 27, 27);
    margin-left: 25%;
    text-align: center;
    width: 50%;
    color: white;
    font-size: 24px;
    padding: 30px;
    

}
form{
    margin-top: 10px;
}