body{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}
input{
    height: 40px;
    width: 40%;
    margin-top: 20px;
}
button{
    margin-top: 1%;
    height: 40px;
    background-color: black;
    color: white;
}

img{
    border-radius: 50%;
    width: 20%;
    height: 10%;
    margin-left: 50px;
   
}
#form-body{
    background-color: rgb(29, 27, 27);
    margin-left: 25%;
    text-align: center;
    width: 50%;
    

}
form{
    margin-top: 10px;
}